[submodule "ThirdParty/Dependencies"]
	path = ThirdParty/Dependencies
	url = https://github.com/MonoGame/MonoGame.Dependencies.git
[submodule "PS4"]
	path = PS4
	url = git@github.com:RED-ART-GAMES/MonoGame.PS4.git
	branch = brute
